<!doctype html>
<html lang="{{ shop.locale }}">
  <head>
    {% include 'head' %}
    {{ content_for_header }}
  </head>
  <body>    
    {% include 'no-script' %}
    <div class="content" role="main">
      {{ content_for_layout}}
    </div>    
  </body>
</html>